*/.settings
*/.idea
*.class
*csproj.user
*.css.map

node_modules

#
package-lock.json

*.log
.idea
.vscode
.sass-cache
.DS_Store
tmp

.project
.settings

/report
/coverage
/profiles
# ignore file system blob storage files
blob-local-storage

# dev config files
config/config.dev*.js

# browserified/moved over libraries
#src/common/lib/chance/chance.js
#src/common/lib/debug/debug.js
#src/common/lib/q/q.js
#src/common/lib/superagent/superagent.js
#src/common/lib/requirejs/require.js