# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Run Tests

on: [push, pull_request]

jobs:
  lint:
    name: testing
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [16, 18]
        mongodb-version: [4.4]
        python-version: [3.8]
        redis-version: [6]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Use Node.js {{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Start MongoDB ${{ matrix.mongodb-version }}
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: Start Redis ${{ matrix.redis-version }}
        uses: supercharge/redis-github-action@1.2.0
        with:
          redis-version: ${{ matrix.redis-version }}
      - name: Chrome
        uses: browser-actions/setup-chrome@latest
      - name: node version
        run: node --version
      - name: NPM install
        run: npm install 
      - name: ESLint Check
        run: npm run lint
      - name: karma test
        run: Xvfb :99 & export DISPLAY=:99 && node ./node_modules/karma/bin/karma start karma.conf.js --browsers Chrome --single-run
      - name: Mocha addon test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/addon
      - name: Mocha bin test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/bin
      - name: Mocha client test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/client
      - name: Mocha common test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit ./test/common
      - name: Mocha common/blob test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/common/blob
      - name: Mocha common/core test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/common/core
      - name: Mocha common/executor test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/common/executor
      - name: Mocha common/storage test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/common/storage
      - name: Mocha common/util test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/common/util
      - name: Mocha config test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/config
      - name: Mocha issue test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/issue
      - name: Mocha plugin test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/plugin
      - name: Mocha seeds test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/seeds
      - name: Mocha server test
        run: node ./node_modules/mocha/bin/mocha --timeout 10000 --exit --recursive ./test/server